.App {}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-ul {
  margin: 0;
  padding: 5px;
  background-color: skyblue;
}

.footer {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {

  color: #fff;
  padding: 5px;
  text-decoration: none;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.div_signup,
.product {
  margin-left: 30%;
}

.login {
  margin-left: 30%;
  margin-top: 100px;
}

.inputSignup {
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
}

.button_signup {
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border: 1px, solid;
  cursor: pointer;
}

.nav-right {
  text-align: right;
}

.logo {
  width: 45px;
  float: left;
  margin-top: 3px;
  border-radius: 50%;
  margin-left: 20px;
}

.invalid-input {
  margin-left: 25px;
  margin-top: -20px;
  color: red;
  display: block;
}

.App-link {
  color: #61dafb;
}

.product-list {
  text-align: center;
}

.product-list ul {
  margin: 0;
}

.product-list ul li {
  display: inline-block;
  border: 1px, solid skyblue;
  padding: 5px;
  width: 150px;
}

.link-update {
  border: solid, 1.5px, black;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  background-color: lightgray;
}

.product-seach-box {
    width: 400px;
    margin: 20px;
    height: 40px;
    border: 1px, solid, skyblue;
    padding-left: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}